flows/nodered/flows_watcher.json
[
  {
    "id": "tab_watcher",
    "type": "tab",
    "label": "Config Watcher",
    "disabled": false,
    "info": "Sleduje zmeny v modes.yaml a triggeruje reload"
  },
  {
    "id": "watcher_inject",
    "type": "inject",
    "z": "tab_watcher",
    "name": "Check every 30s",
    "props": [{"p": "payload"}],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": "10",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 100,
    "wires": [["watcher_check_exec"]]
  },
  {
    "id": "watcher_check_exec",
    "type": "exec",
    "z": "tab_watcher",
    "command": "stat -c %Y /config/modes.yaml",
    "addpay": "",
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "Get mtime",
    "x": 340,
    "y": 100,
    "wires": [["watcher_check"], [], []]
  },
  {
    "id": "watcher_check",
    "type": "function",
    "z": "tab_watcher",
    "name": "Compare mtime",
    "func": "// Compare file modification time\nconst currentMtime = parseInt(msg.payload.trim());\nlet lastMtime = context.get('lastMtime') || null;\n\nif (lastMtime === null) {\n    // First run - just store the time\n    context.set('lastMtime', currentMtime);\n    node.status({fill: 'green', shape: 'dot', text: 'watching'});\n    return null;\n}\n\nif (currentMtime > lastMtime) {\n    // File was modified - trigger reload\n    context.set('lastMtime', currentMtime);\n    node.status({fill: 'yellow', shape: 'ring', text: 'change detected'});\n    node.warn(`modes.yaml changed, triggering reload (mtime: ${new Date(currentMtime * 1000).toISOString()})`);\n    return msg;\n}\n\n// No change\nnode.status({fill: 'green', shape: 'dot', text: 'watching'});\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 100,
    "wires": [["watcher_reload", "watcher_mqtt_notify"]]
  },
  {
    "id": "watcher_reload",
    "type": "link out",
    "z": "tab_watcher",
    "name": "Trigger Loader",
    "mode": "link",
    "links": ["loader_schema_in"],
    "x": 535,
    "y": 100,
    "wires": []
  },
  {
    "id": "watcher_mqtt_notify",
    "type": "function",
    "z": "tab_watcher",
    "name": "Prepare MQTT Event",
    "func": "// Publish config_updated event to notify UI\nmsg.topic = 'virt/system/config_updated';\nmsg.payload = JSON.stringify({\n    timestamp: new Date().toISOString(),\n    source: 'modes.yaml',\n    action: 'reload'\n});\nmsg.retain = false;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 160,
    "wires": [["watcher_mqtt_out"]]
  },
  {
    "id": "watcher_mqtt_out",
    "type": "mqtt out",
    "z": "tab_watcher",
    "name": "Publish config_updated",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker",
    "x": 590,
    "y": 160,
    "wires": []
  }
]
